<div class="container">
    <div class="row justify-content-center justify-content-md-center">
        <div class="col-12 m-3">
            <div class="card">
                <div class="card-body text-center fw-bold fs-4">
                    Autentificación dactilar
                </div>
            </div>
        </div>
        <div class="col-12 bg-image">
            <img class="rounded mx-auto d-block"
                src="https://www.kindpng.com/picc/m/3-36055_huella-dactilar-colores-png-transparent-png.png"
                width="25%" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container mt-3 fade show">
                <div class="alert alert-success alert-dismissible">
                    <button class="btn-close" data-bs-dismiss="alert"></button>
                    <p>
                        Eficiencia de Autentificación = 70%
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center justify-content-md-center">
        <div class="col-4">
            <button type="button" class="btn bbva-color btn-primary w-100" routerLink="/facial" routerLinkActive="active"
                ariaCurrentWhenActive="page">Siguiente</button>
        </div>
    </div>
</div>