<!-- <div class="row justify-content-center justify-content-md-center">
    <div class="col-sm-3 ">
        <div class="card">
            <div class="card-body">
                Autentificación facial
            </div>
        </div>
    </div>   
</div>

    <div class="bg-image">
        <img class="rounded mx-auto d-block" src="https://cdn-icons-png.flaticon.com/512/5067/5067582.png" width="20%" />
    </div>  

    

<div class="row justify-content-center justify-content-md-center">
    <div class="col-sm-3">
        <button type="button" class="nav-item nav-link-edit" routerLink="/voz" routerLinkActive="active" ariaCurrentWhenActive="page">Siguiente</button>
    </div>
</div> -->

<div class="container">
    <div class="row justify-content-center justify-content-md-center">
        <div class="col-12 m-3">
            <div class="card">
                <div class="card-body text-center fw-bold fs-4">
                    Autentificación facial
                </div>
            </div>
        </div>
        <div class="col-12 bg-image">
            <img class="rounded mx-auto d-block"
                src="https://cdn-icons-png.flaticon.com/512/5067/5067582.png"
                width="25%" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container mt-3 fade show">
                <div class="alert alert-success alert-dismissible">
                    <button class="btn-close" data-bs-dismiss="alert"></button>
                    <p>
                        Eficiencia de Autentificación = 100%
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center justify-content-md-center">
        <div class="col-4">
            <button type="button" class="btn btn-primary bbva-color w-100" routerLink="/voz" routerLinkActive="active"
                ariaCurrentWhenActive="page">Siguiente</button>
        </div>
    </div>
</div>