<div class="container">
  <div class="row justify-content-center justify-content-md-center">
    <div class="col-12 my-5 bbva-color rounded text-light py-5">
      <h1 class="text-center">Plataforma de evaluación para autentificación de clientes</h1>
    </div>
    <div class="col col-sm-6 col-lg-4">
      <div class="card shadow-sm" style="height: 196px">
        <div class="card-body">
          <h5 class="card-title">Autentificación dactilar</h5>
          <p class="card-text">La autenticación de huellas dactilares compara la huella dactilar de un usuario con las plantillas de huellas dactilares almacenadas para validar la identidad del usuario.</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mt-4 mt-md-0">
      <div class="card shadow-sm" style="height: 196px">
        <div class="card-body">
          <h5 class="card-title">Autentificación facial</h5>
          <p class="card-text">Los sistemas de reconocimiento facial detectan un rostro de una fuente de cámara en vivo y lo comparan con la base de datos disponible de rostros conocidos para encontrar una coincidencia a fin de completar la autenticación.</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 mt-4 mt-lg-0">
      <div class="card shadow-sm" style="height: 196px">
        <div class="card-body">
          <h5 class="card-title">Autentificación por voz</h5>
          <p class="card-text">Los sistemas de reconocimiento de voz analizan la voz de una persona para validar su identidad.

          </p>
        </div>
      </div>
    </div>
    <!-- <div class="position-absolute top-50 start-50"> -->

  </div>
  <div class="row justify-content-center my-5">
    <div class="col-6 col-md-5 col-lg-4">
      <button type="button" class="btn btn-primary bbva-color w-100 shadow-sm" routerLink="/dactilar" routerLinkActive="active"
      ariaCurrentWhenActive="page">Iniciar</button>
    </div>
  </div>
</div>