<div class="container">
    <div class="row justify-content-center justify-content-md-center">
        <div class="col-12 m-3">
            <div class="card">
                <div class="card-body text-center fw-bold fs-4">
                    Resultados de la autentificación
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container mt-3 fade show">
                <div class="alert alert-success alert-dismissible">
                    <!-- <button class="btn-close" data-bs-dismiss="alert"></button> -->
                    <p>
                        Esta persona tiene mejor percepción de autenticación a través de la <strong> prueba facial.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center justify-content-md-center">
        <div class="col-4">
            <button type="button" class="btn btn-primary bbva-color w-100" routerLink="/" routerLinkActive="active"
                ariaCurrentWhenActive="page">Generar token de identificación</button>
        </div>
    </div>
</div>